@model IEnumerable<JagiWebSample.Areas.Admin.Models.CodeFilesEditView>

<div class="row" style="margin-top: 5px;">
    <div class="col-sm-2">
        <button class="btn btn-sm" type="button" ng-click="vm.prevPage()" ng-disabled="vm.pagedList.currentPage == 1 || vm.hadBeenModified()" style="margin-left: -10px">
            <span class="glyphicon glyphicon-chevron-left"></span>上
        </button>
    </div>
    <div class="col-sm-5">
        <div class="input-group input-group-sm">
            <input type="text" class="form-control" ng-blur="vm.goPage()" ng-model="vm.pagedList.currentPage" ng-disabled="vm.hadBeenModified()">
            <span class="input-group-addon">共{{vm.pagedList.count}}頁</span>
        </div>
    </div>
    <div class="col-sm-3">
        <select class="form-control input-sm" ng-model="vm.pagedList.pageCount" ng-change="vm.searching()"
                ng-options="item for item in [5, 10, 15, 20]" ng-disabled="vm.hadBeenModified()"></select>
    </div>
    <div class="col-sm-2">
        <button class="btn btn-sm" type="button" ng-click="vm.nextPage()"
                ng-disabled="vm.pagedList.currentPage == vm.pagedList.count || vm.hadBeenModified()">
            <span class="glyphicon glyphicon-chevron-right"></span>下
        </button>
    </div>
</div>
<div class="input-group" style="width: 90%">
    <input type="text" class="form-control" ng-model="vm.search"
           ng-keyup="vm.searching()" ng-disabled="vm.hadBeenModified()"
           ng-model-options="{ updateOn: 'default blur'}">
    <span class="input-group-btn">
        <button class="btn btn-info" type="button" ng-click="vm.searching()" ng-disabled="vm.hadBeenModified()">
            搜尋&nbsp;<span class="glyphicon glyphicon-search"></span>
        </button>
    </span>
</div>

<table class="table table-condensed table-hover" id="tblCodeList">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentCode)
        </th>
    </tr>
    <tbody ng-cloak>
        <tr ng-repeat="item in vm.pagedList.list" ng-class="vm.selected(item)" ng-click="vm.select(item)">
            <td>{{item.itemType}}</td>
            <td>{{item.parentType}}</td>
            <td>{{item.parentCode}}</td>
        </tr>
    </tbody>
</table>