
@{
    ViewBag.Title = "地址名稱維護";
    ViewBag.Name = "Others";
}

<h3>地址名稱維護</h3>

<div ng-controller="addressController as vm" wait-modal>
    <div ui-grid="vm.gridOptions" ui-grid-pagination class="gird"></div>
</div>

@section Scripts{
<script src="~/app/adminAddress/addressController.js"></script>
    <script type="text/javascript">
        var getAddress = '@(Html.BuildUrlFromExpression<AddressController>(c => c.Get(null)))';

        window.app.constant("model", {
            'getAddressUrl': getAddress
        });
    </script>
}