@{
    ViewBag.Title = "地址名稱維護";
    ViewBag.Name = "Others";
}

<h3>地址名稱維護</h3>

<div ng-controller="addressController as vm">
    <div ui-grid="gridOptions" ui-grid-pagination class="grid"></div>
</div>

@section Scripts{
    <script src="~/app/pagedGridController.js"></script>
    <script src="~/app/adminAddress/addressController.js"></script>
    <script src="~/app/adminAddress/addressEditDirective.js"></script>
    <script type="text/javascript">
        var getAddress = '@(Html.BuildUrlFromExpression<AddressController>(c => c.Get(null)))';
        var updateAddressUrl = '@(Html.BuildUrlFromExpression<AddressController>(c => c.Update(null)))';
        var deleteAddressUrl = '@(Html.BuildUrlFromExpression<AddressController>(c => c.Delete(0)))';

        window.app.constant("model", {
            'getAddressUrl': getAddress,
            'updateUrl': updateAddressUrl,
            'deleteUrl': deleteAddressUrl
        });
    </script>
}