body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Update Bootstrap column settings */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 5px;
    padding-right: 5px;
}

.row {
    margin-left: 5px;
    margin-right: -15px;
}

/* for angular form */
.angular-input-form .ng-dirty {
    background-color: #CEF6F5;
}

/* Table actived */
.table > tbody > tr.active > td, tr.active > td {
    background-color: #0094ff;
    font-weight: bold;
    color: aliceblue;
}

.bottom {
    bottom: 3px; 
    position: absolute;
}

.form-group.required .control-label { 
   color:blue;
}
.form-group.required .control-label:after { 
   content:"*";
   color:red;
   margin-right: -6px;
}

/* 
    提供 top most Modal，主要是提供給 wait-modal 使用 
    一般的 modal 預設 z-index = 1050
*/
.top-modal.modal {
    z-index: 1070;
}

/* 提供 top most Modal，主要是提供給 wait-modal 使用 */
.top-modal.modal + .modal-backdrop {
    z-index: 1060;
}

/* 提供給 bootstrap ui 使用，讓 modal 可以往下降 */
.modal-margin-vertical {
    margin-top: 20%;
}

.grid {
    width: 100%;
    height: 550px;
}