<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="consolelog" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss}|${level}|${stacktrace}|${message}" />

    <target name="filelog" xsi:type="File" fileName="${basedir}/log/default.log" layout="${date}: ${message}" />

    <target xsi:type="Debugger" name="debugger" layout="${date}: ${level:uppercase=true} | ${message} ${onexception:${newline}${exception:format=tostring}}" />
    <target xsi:type="NLogViewer" name="sentinel" address="udp://127.0.0.1:9999" />
  </targets>

  <rules>
    <!--<logger name="*" minlevel="Trace" writeTo="sentinel" />-->
    <logger name="*" minlevel="Trace" writeTo="filelog" />
  </rules>
</nlog>