@model JagiWebSample.Areas.Admin.Models.CodeDetailEditView
@{
    var detail = Html.Angular().ModelFor("vm.detail");
}

<form novalidate name="detailForm" class="angular-input-form">
    <show-errors model-status="vm.modelStatus"></show-errors>
    <fieldset ng-disabled="vm.modelStatus.isLoading">
        <div class="modal-header">
            <h3 class="modal-title">編輯代碼資料<i class="fa fa-spinner fa-spin" ng-show="vm.modelStatus.isLoading" style="color:green"></i></h3>
        </div>
        <div class="modal-body">
            @detail.FormGroupFor(m => m.ItemCode)
            @detail.FormGroupFor(m => m.Desc)
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="vm.cancel()" icon="fa-undo">
                 取消
            </button>
            <button type="button" class="btn btn-primary" ng-disabled="!detailForm.$dirty"
                    ng-click="vm.save()" icon="fa-save">
                 存檔
            </button>
        </div>
    </fieldset>
</form>