@model JagiWebSample.Areas.Admin.Models.DetailsViewModel

@{
    ViewBag.Title = "UsersRoles";
}

<h2 class="mvcMembership">User Details: @Model.DisplayName [@Model.Status]</h2>

<ul class="mvcMembership-tabs">
    <li>@Html.ActionLink("Details", "Details", "User", new { id = Model.User.Id }, null)</li>
    <li>@Html.ActionLink("Password", "Password", "User", new { id = Model.User.Id }, null)</li>
    <li>Roles</li>
</ul>

<h3 class="mvcMembership">Roles</h3>
<div class="mvcMembership-userRoles">
    <ul class="mvcMembership">
        @foreach (var role in Model.Roles)
        {
            <li>
                @Html.ActionLink(role.Key, "Role", new { roleName = role.Key })
                @if (role.Value)
                {
                    using (Html.BeginForm("RemoveFromRole", "User", new { id = Model.User.Id, role = role.Key }))
                    {
                        <input type="submit" value="Remove From" />
                    }
                }
                else
                {
                    using (Html.BeginForm("AddToRole", "User", new { id = Model.User.Id, role = role.Key }))
                    {
                        <input type="submit" value="Add To" />
                    }
                }
            </li>
        }
    </ul>
</div>